---
title: AVT411 - Motion Design
layout: default
---

{% include header.html %}
<div id="top-content">
  <div class="page-info">
    <small>Summer 2022 // Monday & Wednesday 4:30&ndash;7:10 // Virtual</small>
    <h1><a href="{{ "/" | relative_url}}" />Motion Design</a></h1>
  </div>
  <div class="due-box">
    {% include due-box.html %}
  </div>
  <div class="arrows">
    {% include arrow-pattern.html %}
  </div>
</div>
<main>
  <section>
    <!-- <p class="section-title text-small"><span>Students</span></p> -->
    {% include student-grid.html %}
  </section>
</main>
